---
import '../style/global.css';
---
<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="Handdy — Apprends la langue des signes française avec des mini-jeux et défis." />
    <title>Handdy – Maîtrise la LSF</title>
  </head>
  <body class="antialiased bg-white text-slate-950">
    <slot />
  </body>
</html>
